<div class="row">
  <div class="col-8">
    <div class="card-header bg-success">
      <div>Employee List</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sr. No</th>
                <th>Name</th>
                <th>Contact No</th>
                <th>Email-Id</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of employeeList; let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.contactNo}}</td>
                <td>{{item.emailId}}</td>
                <td>
                  <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                  <button class="btn btn-danger mx-2" (click)="onDelete(item.empId)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">New Employee</div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
          <div class="row">
            <div class="col-6">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name" />
              <div *ngIf="employeeForm.controls['name'].touched && employeeForm.controls['name'].invalid" class="text-danger">
                Name is required.
              </div>>
            </div>
            <div class="col-6">
              <label>Email-Id</label>
              <input type="text" class="form-control" formControlName="emailId" />
              <div *ngIf="employeeForm.controls['emailId'].touched && employeeForm.controls['emailId'].invalid" class="text-danger">
                Email is required
              </div>
            </div>
            <div class="col-6">
              <label>Contact No</label>
              <input type="text" class="form-control" formControlName="contactNo" />
              <div *ngIf="employeeForm.controls['contactNo'].touched && employeeForm.controls['contactNo'].invalid" class="text-danger">
                Contact No is required.
              </div>
            </div>
            <div class="col-6">
              <label>City</label>
              <input type="text" class="form-control" formControlName="city" />
              <div *ngIf="employeeForm.controls['city'].touched && employeeForm.controls['city'].invalid" class="text-danger">
                City is required.
              </div>
            </div>
            <div class="col-6">
              <label>State</label>
              <input type="text" class="form-control" formControlName="state" />
              <div *ngIf="employeeForm.controls['state'].touched && employeeForm.controls['state'].invalid" class="text-danger">
                State is required.
              </div>
            </div>
            <div class="col-6">
              <label>Pin Code</label>
              <input type="text" class="form-control" formControlName="pinCode" />
              <div *ngIf="employeeForm.controls['pinCode'].touched && employeeForm.controls['pinCode'].invalid" class="text-danger"></div>
                pincode Code is required.
              </div>
            </div>
            <div class="col-6">
              <label>Address</label>
              <textarea class="form-control" formControlName="address"></textarea>
            </div>
          
          <div class="row">
            <div class="col-6 text-center">
              <button type="button" (click)="employeeForm.reset()" class="btn btn-primary">Reset</button>
            </div>
            <div class="col-6 text-center">
              <div class="col-6 text-center">
                <button  *ngIf="employeeForm.controls['empId'].value == '1'" (click)="onSave()" class="btn btn-success">Save</button>
                <button *ngIf="employeeForm.controls['empId'].value != '1'" (click)="onUpdate()" class="btn btn-success">Update</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>